<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        ul{
            list-style-type: none;
        }
        li{
            display: inline-block;
            padding: 20px;
        }
    </style>
</head>
<body>
 <h1>Welcome</h1>
 <ul>
 <li><a href="/api/insert">Insert</a></li>
 <li><a href="/api/view">Update</a></li>
 <li><a href="/api/view">Delete</a></li>
 <li><a href="/api/view">View</a></li>
 <li><a href="/api/insert">Cookie</a></li>
 <li><a href="/getcookie">Get Cookie</a></li>
 <li><a href="/api/getcookie">Cookies</a></li>
 </ul> 
</body>
</html>